* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

/* Header Style */

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 16px;
}

.timer {
    font-weight: bolder;
    font-size: 20px;
}

a {
    text-decoration: none;
    color:rgb(153, 50, 204);
}




/* Main/Quiz Style */
.quiz-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}
.question {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.instructions {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.quiz-start {
    display: none;
}

.button-start-container, .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

}

.button-container {
    justify-content: flex-start;
    
}
.btn {
    
    background-color: rgb(75, 0, 130);
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    height: fit-content;
    border-radius: 10px;
    font-size: large;
    outline: none;
    width: 50%;
    text-align: center;
    
}

#start-quiz {
    margin: 5px auto;
}

.btn:active {
    background-color: rgb(153, 50, 204);
    outline: none;
}

.answer-check {
    border-top: 3px solid rgb(175, 175, 175);
    margin-top: 5px;
    font-style: italic;
    color: rgb(175, 175, 175);
}

.end-quiz {
    text-align: center;
    font-size: 22px;
    margin: auto 5px;
}

.end-form {
    margin: 5px;
    align-self: center;
    padding: 8px;
}

#end-form {
    flex-direction: row;
}
/*  highscore.html style  */

h1, h2 {
    text-align: center;
}

.row {
    width: 60%;
    margin: 0 auto;
    display: flex;
    
}

.column {
    width: 50%;
    border: black solid 3px;
}

.col-item {
    text-align: center;
    padding: 5px;
    font-size: 18px;
    border-top: 3px solid black;

}

@media screen and (max-width:1175px) {
    .btn {
        width: 100%;
    
    }
    .button-container {
        width: 80%;
    }
}

@media screen and (max-width:775px) {
    .button-container {
        width: 90%;
    }

    #end-form {
        flex-direction: column;
    }
}

@media screen and (max-width:575px) {
    .btn {
        height: fit-content;

    }

    .instructions {
        width: 80%;
        font-size: 16px;

    }
}
