* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

/* Header Style */

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 16px;
}

.timer {
    font-weight: bolder;
    font-size: 20px;
}




/* Main/Quiz Style */
.quiz-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}
.question {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.instructions {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.quiz-start {
    display: none;
}

.button-start-container, .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

}

.button-container {
    justify-content: flex-start;
}
.btn {
    
    background-color: rgb(75, 0, 130);
    color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 20%;
    height: 45px;
    border-radius: 10px;
    font-size: large;
    outline: none;
    margin: 5px;
}

#start-quiz {
    margin: 5px auto;
}

.btn:active {
    background-color: rgb(153, 50, 204);
    outline: none;
}

.answer-check {
    border-top: 3px solid rgb(175, 175, 175);
    margin-top: 5px;
    font-style: italic;
    color: rgb(175, 175, 175);
}

.end-quiz {
    text-align: center;
    font-size: 22px;
}

.end-form {
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
}